<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="UTF-8" />
	<title>Currency Converter | Welcome</title>
	<link href="https://cdn.jsdelivr.net/bootstrap/3.3.7/js/bootstrap.min.js" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" rel="stylesheet" media="screen"/>
	<script src="https://cdn.jsdelivr.net/jquery/2.2.4/jquery.min.js" th:src="@{/webjars/jquery/2.2.4/jquery.min.js}"></script>
	<link th:href="@{/css/main.css}" rel="stylesheet" media="screen"/>
</head>

<body>

<div class="container">
	
	<div class="welcome">
		<h3>Currency Rate Converter | Welcome</h3>
		<hr/>
	
   		<img th:src="@{/img/numbers-money.jpg}" class="img-responsive img-rounded" alt="Numbers Money"/>

   		<div>
	    	<a href="/login" class="btn btn-primary btn-block">Login</a> <a href="/register" class="btn btn-primary btn-block pull-right">Register</a>
	    </div>
   	</div>
</div>

</body>
</html>